{% extends "base.html" %}

{% block content %}
    <h5 style="margin-left: 70px; margin-top: 30px">Фамилия: {{ surname }} </h5>
    <h5 style="margin-left: 70px ">Имя: {{ name }}</h5>
    <h5 style="margin-left: 70px ">Образование: {{ education }}</h5>
    <h5 style="margin-left: 70px ">Профессия: {{ profession }}</h5>
    <h5 style="margin-left: 70px ">Пол: {{ sex }}</h5>
    <h5 style="margin-left: 70px ">Мотивация: {{ motivation }}</h5>
    <h5 style="margin-left: 70px ">Готовы остаться на марсе? {{ ready }}</h5>
{% endblock %}