{% extends "base.html" %}

{% block content %}
    {% if "инженер" in title or "строитель" in title %}
        <h3 style="text-align: center ">Инженерные тренажеры </h3>
        <img src="{{ url_for('static', filename='images/image1.png') }}"
             alt="здесь должна была быть картинка, но не нашлась" width=800>
    {% else %}
        <h3 style="text-align: center ">Научные симуляторы</h3>
        <img src="{{ url_for('static', filename='images/image2.png') }}"
             alt="здесь должна была быть картинка, но не нашлась" width=800>
    {% endif %}
{% endblock %}